#header {
  background: #111827;          /* gris oscuro */
  border-bottom: 1px solid #0d1117;
}

#header .brand, #header .brand:link, #header .brand:visited {
  color: #fff !important;
  text-decoration: none;
  font-weight: 600;
  letter-spacing: .2px;
  display: inline-flex;
  align-items: center;
}

body {
    margin: 0;
    padding: 0;
    font-size: 0.975rem;
    font-family: var(--font-family-primary);
    color: var(--body-fg);
    background: var(--body-bg);
}


/* Botón primario */
.button.default, .submit-row input.default {
  background: #fd0d0d;
  border-color: #f83fa2;
}

html[data-theme="dark"] {
    --primary: #264b5d;
    --secondary: #rgb(23, 23, 23);
    --primary-fg: #f7f7f7;
    --body-fg: #eeeeee;
    --body-bg: #4d4d4d;
    --body-quiet-color: #d0d0d0;
    --body-medium-color: #e0e0e0;
    --body-loud-color: #ffffff;
    --breadcrumbs-link-fg: #e0e0e0;
    --breadcrumbs-bg: var(--primary);
    --link-fg: #81d4fa;
    --link-hover-color: #4ac1f7;
    --link-selected-fg: #6f94c6;
    --hairline-color: #272727;
    --border-color: #353535;
    --error-fg: #e35f5f;
    --message-success-bg: #006b1b;
    --message-warning-bg: #583305;
    --message-error-bg: #570808;
    --darkened-bg: #4d4d4d;
    --selected-bg: #1b1b1b;
    --selected-row: #00363a;
    --close-button-bg: #333333;
    --close-button-hover-bg: #666666;
    color-scheme: dark;
}

html[data-theme="light"], :root {
    --primary: #79aec8;
    --secondary: #904182;
    --accent: #ffffff;
    --primary-fg: #ffffff97;
    --body-fg: #333;
    --body-bg: #c08686;
    --body-quiet-color: #666;
    --body-medium-color: #444;
    --body-loud-color: #000000;
    --header-color: rgb(0, 255, 110);
    --header-branding-color: var(--accent);
    --header-bg: var(--secondary);
    --header-link-color: var(--primary-fg);
    --breadcrumbs-fg: #c4dce8;
    --breadcrumbs-link-fg: var(--body-bg);
    --breadcrumbs-bg: #264b5d;
    --link-fg: #417893;
    --link-hover-color: #036;
    --link-selected-fg: var(--secondary);
    --hairline-color: #e8e8e8;
    --border-color: #ccc;
    --error-fg: #ba2121;
    --message-success-bg: #dfd;
    --message-warning-bg: #ffc;
    --message-error-bg: #ffefef;
    --darkened-bg: #f8f8f8;
    --selected-bg: #e4e4e4;
    --selected-row: rgb(239, 239, 115);
    --button-fg: #ffffff;
    --button-bg: var(--secondary);
    --button-hover-bg: #206726;
    --default-button-bg: #205067;
    --default-button-hover-bg: var(--secondary);
    --close-button-bg: #747474;
    --close-button-hover-bg: #333;
    --delete-button-bg: #ba2121;
    --delete-button-hover-bg: #a41515;
    --object-tools-fg: var(--button-fg);
    --object-tools-bg: var(--close-button-bg);
    --object-tools-hover-bg: var(--close-button-hover-bg);
    --font-family-primary: "Segoe UI", system-ui, Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
    --font-family-monospace: ui-monospace, Menlo, Monaco, "Cascadia Mono", "Segoe UI Mono", "Roboto Mono", "Oxygen Mono", "Ubuntu Monospace", "Source Code Pro", "Fira Mono", "Droid Sans Mono", "Courier New", monospace, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
    color-scheme: light;
}