{% extends "base.html" %}
{% block content %}
<h1 class="h3 mb-3">Tasks</h1>

{% if tasks %}
<div class="mb-3" >
  <form method="get" class="form-inline">
    <div class="row g-2">
      <div class="col-md-4">
        <input type="text" name="search" class="form-control" placeholder="Search by Title..." value="{{ search_query }}">
      </div>
      <div class="col-md-3">
        <select name="priority" class="form-select">
          <option value="">-- Filter by Priority --</option>
          <option value="low" {% if priority_filter == 'low' %}selected{% endif %}>Baja</option>
          <option value="medium" {% if priority_filter == 'medium' %}selected{% endif %}>Media</option>
          <option value="high" {% if priority_filter == 'high' %}selected{% endif %}>Alta</option>
        </select>
      </div>
      <div class="col-md-2">
        <button type="submit" class="btn btn-primary w-100">Filtrar</button>
      </div>
      <div class="col-md-2">
        <a href="{% url 'task_list' %}" class="btn btn-secondary w-100">Limpiar</a>
      </div>
    </div>
  </form>
</div>

    <div class="table-responsive">
        <table class="table table-striped aling-middle">
            <thead>
                <tr>
                   <th>Title</th>
                   <th>Priority</th> 
                   <th>Completed</th>
                   <th>Created</th>
                   <th></th>
                </tr>
            </thead>
            <tbody>
                {% for t in tasks %}
                <tr>
                    <td><a href="{% url 'task_detail' t.pk %}">{{ t.title }}</a></td>
                    <td>{{t.get_priority_display }}</td>
                    <td>{% if t.is_completed %} OK {% else %}—{% endif %}</td>
                    <td>{{t.created_at|date:"Y-m-d H:i"}}</td>
                    <td>
                        <a class="btn btn-sm btn-outline-secondary" href="{% url 'task_update' t.pk%}">Edit</a>
                        <a class="btn btn-sm btn-outline-danger" href="{% url 'task_delete' t.pk %}">Delete</a>
                    </td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
{% else %}
    <div class="alert alert-info">No tasks yet. <a href="{% url 'task_create' %}">Create one</a>.</div>
{% endif %}
{% endblock %}
