{% extends "base.html" %}
{% block content %}
<h1 class="h3 mb-3">{{ task.title }}</h1>
<ul class="list-goup mb-3">
    <li class="list-goup-item"><strong>Priority:</strong> {{ task.get_priority_display}} </li>
    <li class="list-group-item"><strong>Completed:</strong> {{ task.is_completed|yesno:"Yes,No" }}</li>
    {% if task.description %}
    <li class="list-goup-item">
        <strong>description:</strong><br>{{ task.description }}
    </li>
    {% endif %}
    <li class="list-group-item"><strong>Created:</strong> {{ task.created_at|date:"Y-m-d H:i" }}</li>
</ul>

<div class="d-flex gap-2">
    <a class="btn btn-secondary" href="{% url 'task_list' %}">Back</a>
    <a class="btn btn-primary" href="{% url 'task_update' task.pk %}">Edit</a>
    <a class="btn btn-danger" href="{% url 'task_delete' task.pk %}">Delete</a>
</div>
{% endblock %}